@model PortfolioPage.Pages.ProjectTracker.DI_BasePageModel

@if(Model.displaySingleProject){
    await RenderProjectCard(Model.currentProject, Model.minCardWidth, Model.maxCardWidth);
    return; 
}
@foreach (project item in Model.projectList){
    await RenderProjectCard(item, Model.minCardWidth, Model.maxCardWidth);
}

@{
    async Task RenderProjectCard(project item, string cardMinWidth, string cardMaxWidth){   
        Model.currentProject = item;
        <!-- master project card row -->
        @* TODO: Implement some way to filter the projects list, perhaps using some personal preferences *@
        <div class="col-sm card border border-dark mx-2 my-3 text-dark" style="min-width: @cardMinWidth; max-width: @cardMaxWidth">
            <!-- Optional header -->            
            @if(Model.addedHeader != null && Model.addedHeader.Count > 0){
                <div class="row justify-content-center text-center border-bottom btn-dark text-white">
                    @foreach (var subitem in Model.addedHeader)
                    {
                        <div class="col h4">
                            @subitem
                        </div>
                    }
                </div>
            }
            <!-- Rows 1-4, High level details and actions -->
            <div class="row">
                <div class="col">

                    <!-- Row 1 - Title-->
                    <div class="row">
                        <div class="col h3 mt-1 mb-1">
                            @Html.DisplayFor(modelItem => item.title)
                        </div>   
                    </div>

                    <!-- Row 2 - Visibility information -->    
                    <div class="row">          
                        @if(item.isPublic){
                            <div class="col mb-1 text-info">
                                <svg class="bi bi-unlock" width="1em" height="1em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M11.655 9H4.333c-.264 0-.398.068-.471.121a.73.73 0 00-.224.296 1.626 1.626 0 00-.138.59V15c0 .342.076.531.14.635.064.106.151.18.256.237a1.122 1.122 0 00.436.127l.013.001h7.322c.264 0 .398-.068.471-.121a.73.73 0 00.224-.296 1.627 1.627 0 00.138-.59V10c0-.342-.076-.531-.14-.635a.658.658 0 00-.255-.237 1.123 1.123 0 00-.45-.128zm.012-1H4.333C2.5 8 2.5 10 2.5 10v5c0 2 1.833 2 1.833 2h7.334c1.833 0 1.833-2 1.833-2v-5c0-2-1.833-2-1.833-2zM10.5 5a3.5 3.5 0 117 0v3h-1V5a2.5 2.5 0 00-5 0v3h-1V5z" clip-rule="evenodd"></path>
                                </svg>
                                This project is visible to the public
                            </div>
                        }
                    </div>

                    <!-- Row 3 - Deadline information -->
                    <div class="row">
                        <div class="col mb-1 text-muted">   
                            @if(item.completionDate != null){
                                <i>This project was completed on @Html.DisplayFor(model => item.completionDate)</i>
                            }
                            else
                            {
                                var daysLeft = (item.completionDeadline - DateTime.Now).Days;
                                <i>Due on:&nbsp;
                                @Html.DisplayFor(model => item.completionDeadline)
                                <text>&nbsp;(</text>@daysLeft
                                <text>&nbsp;days)</text></i>
                            }
                        </div>              
                    </div>            
                    
                    <!-- Row 4 - Phase and status information-->
                    <div class="row">
                        <div class="col-auto mr-auto border-left-0 border-top border-right border-secondary shadow rounded-right">

                            <div class="row no-gutters">
                                <!-- Phase information -->
                                <div class="col-auto text-secondary">
                                    @Html.DisplayNameFor(model =>
                                    model.projectList[0].currentProjectPhase):&nbsp;
                                </div>
                                <div class="col-auto text-dark">
                                    @Html.DisplayFor(modelItem => item.currentProjectPhase)
                                </div>
                            </div>                                
                            <div class="row mb-1 no-gutters">
                                <!-- Status information -->
                                <div class="col-auto text-secondary">                                        
                                        @Html.DisplayNameFor(model =>
                                        model.projectList[0].currentProjectStatus):&nbsp;
                                </div>
                                @if(item.currentProjectStatus == project.projectStatus.onTrack)
                                {
                                <div class="col-auto text-success align-self-center px-1">                                        
                                    <i><b>@Html.DisplayFor(modelItem => item.currentProjectStatus)</b></i>
                                </div>
                                }
                                @if(item.currentProjectStatus == project.projectStatus.behind)
                                {
                                <div class="col-auto text-warning align-self-center px-1" style="background-color: black">
                                    <i><b>@Html.DisplayFor(modelItem => item.currentProjectStatus)</b></i>
                                </div>
                                }
                                @if(item.currentProjectStatus == project.projectStatus.complete)
                                {
                                <div class="col-auto text-info align-self-center px-1">
                                    <i><b>@Html.DisplayFor(modelItem => item.currentProjectStatus)</b></i>
                                </div>
                                }
                            </div>
                        </div>
                    </div>

                </div>
                <!-- High level actions -->
                <div class="row justify-content-end">
                    <div class="col align-contents-center mr-1">                    
                        <partial name="_ProjectActionsPartial" />   
                    </div>
                </div>  
            </div>

            <!-- Row 5 Component Summary -->
            <div class="@Model.row5_ComponentSummary">
                <div class="col"> 
                    @{
                        int totalComponents = 0;
                        int numComponentsBehind = 0;
                        int numComponentsOnHold = 0;
                        int numComponentsComplete = 0;
                        int numNotComplete = 0;
                        int numComponentsOnTrack = 0;
                        if(item.components != null){
                            var query = (from c in item.components where c.nodeDepth == 0 select c);
                            totalComponents = query.Count();
                            numComponentsBehind = query.Where(m => m.componentStatus == projectComponent.componentStatusEnum.Behind).Count();
                            numComponentsOnHold = query.Where(m => m.componentStatus == projectComponent.componentStatusEnum.OnHold).Count();
                            numComponentsComplete = query.Where(m => m.componentStatus == projectComponent.componentStatusEnum.Complete).Count();
                            numComponentsOnTrack = query.Where(m => m.componentStatus == projectComponent.componentStatusEnum.Complete).Count();
                            numNotComplete = totalComponents - numComponentsComplete;                                                           
                        }
                        // TODO: Check if exposing project ID is a security flaw. Unlikely, but confirm
                        string ComponentCreationString = "/ProjectTracker/Component/Create?parentProjectID=" + @item.ID.ToString();
                        
                        if(totalComponents > 0){
                            <a type="button" class="btn btn-primary" 
                                asp-page="/ProjectTracker/Project/Details" 
                                asp-route-id="@item.ID">
                                <span class="badge badge-light">@totalComponents</span> Components
                                <span class="sr-only">total components</span>
                            </a>   
                        }
                        if(numComponentsOnHold > 0){
                            <button type="button" class="btn btn-secondary">
                                On hold <span class="badge badge-light">@numComponentsOnHold</span>
                                <span class="sr-only">components on hold</span>
                            </button>
                        }
                        if(numComponentsOnTrack > 0){
                            <button type="button" class="btn btn-success">
                                On hold <span class="badge badge-light">@numComponentsOnTrack</span>
                                <span class="sr-only">components on hold</span>
                            </button>
                        }
                        if(numComponentsBehind > 0){
                            <button type="button" class="btn btn-warning">
                                Behind <span class="badge badge-light">@numComponentsBehind</span>
                                <span class="sr-only">unread messages</span>
                            </button>
                        }
                        if(numComponentsComplete > 0){
                            <button type="button" class="btn btn-info">
                                Complete <span class="badge badge-light">@numComponentsComplete</span>
                                <span class="sr-only">unread messages</span>
                            </button>
                        }
                        <a class="btn btn-info shadow-sm px-2 py-1 my-2" href="@(ComponentCreationString)">
                            Add Component
                        </a> 
                    }             
                </div>
            </div>

            <!-- Row 6 Issues and updates Summary -->
            <div class="@Model.row6_IssueAndUpdateSummary">
                <div class="col align-self-center">
                    Issues link and summary
                    <a class="badge badge-pill badge-info px-2 py-2" href="#">Add issue</a>   
                </div>
                <div class="col">
                    @if(item.projectUpdates != null && !(!item.projectUpdates?.Any() ?? false)){
                        <a type="button" class="btn btn-primary mb-1"
                            asp-page="/ProjectTracker/Update/Details"
                            asp-route-ProjectID="@item.ID">
                            Updates <span class="badge badge-light">@item.projectUpdates.Count()
                            </span>
                            <span class="sr-only">project's updates</span>
                        </a> 
                    }
                    <a class="badge badge-pill badge-info px-2 py-2" 
                    asp-page="/ProjectTracker/Update/Create"
                    asp-route-ProjectID="@item.ID">Add update</a>
                </div>
            </div> 

            <!-- Row 7 Description view-->
            <div class="row mb-2 ml-2">
                <div class="col no-gutters text-center" id="descriptionCollapse">                    
                    @{
                        string description = item.goalDescription;
                        int descriptionLength = description.Length;
                        string dataTarget = "PRJ_ID_" + item.ID;
                        string dataTargetRef = "#" + dataTarget;
                        <span class="text-secondary">Description: </span>
                        if(descriptionLength > 50){
                            <text>@description.Remove(50) ...</text>
                            <button class="btn btn-muted no-gutters" type="button" data-toggle="collapse" data-target="@dataTargetRef" aria-expanded="false" aria-controls="collapseOne">
                            <i class="text-primary">(Expand)</i>
                            </button>
                        }else{
                            <span class="my-1">@description</span>
                        }
                        if(descriptionLength > 50){
                            <div id="@dataTarget" class="collapse" aria-labelledby="headingOne" data-parent="#descriptionCollapse">
                                <div class="card-body">
                                    @description
                                </div>
                            </div>  
                        }
                    }
                </div>
            </div>            
        </div>
            
    }
}