@page "{id:int}"
@model PortfolioPage.Pages.ProjectTracker.Project.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Project.title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Project.title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Project.description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Project.description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Project.startDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Project.startDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Project.completionDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Project.completionDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Project.completionDeadline)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Project.completionDeadline)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Project.currentProjectStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Project.currentProjectStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Project.currentProjectPhase)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Project.currentProjectPhase)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Project.isPublic)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Project.isPublic)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Project.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
